<!--The content below is only a placeholder and can be replaced.-->
<div class="body">
<div style="text-align:center">
  <h1>
    Github Search !
  </h1>

</div>
<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Home</a>
    </div>
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink='/about' routerLinkActive='active'>About</a></li>
      </ul> -->
    <!-- </div>
  </div>
</nav> -->

<form class="jumbotron">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter a GitHub Username" name="username" [(ngModel)]="username" (keyup)="searchUser()">
    </div>
    <div style="text-align:center;">
      <button type="submit" class="btn btn-default" style="text-align:center">search</button>

    </div>
  </form>

<div class="follow">
  <div class="col-sm-6">
      <img src="{{users.avatar_url}}" style="width:215px; border-radius:50%; border-color:pink;">
      <div style="float:left;">
        <h3>{{users.name}}</h3>
        <h4>Repositories: {{users.public_repos}}</h4>
        <h4>Followers: {{users.followers}}</h4>
        <h4>Following: {{users.following}}</h4>

      </div>
    </div>
  </div>
    <div class="container">
      <div class="col-md-6">
        <div *ngFor="let repo of githubData">
          <div class="row">
            <div class="col-md-9">
                <h4><a [href]="githubData.html_url">{{repo.name}}</a></h4>
                <p>{{repo.description}}</p>
            </div>
            <div class="col-md-3">
              <span class="label">{{repo.watchers}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>


<app-github></app-github>

<!-- <router-outlet></router-outlet> -->
</div>
